#map { height: 50px; }

.jumbobox {
    min-height: 50px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #f5e615;
    background: #72b440;
  }
  
  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }
  
  .box {
     padding: 5px;
     margin: 5px;
     min-height: 80px;
     font-family: 'Arial';
     font-size: 12px;
     text-align: justify;
     color: #f5e615;
     background: #72b440;
  }
  
  .panel {
     padding: 5px;
     margin: 5x;
     min-height: 20px;
     font-family: 'Arial', sans-serif;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     color:#72b440;
     background:  #f5e615;
  }