<!DOCTYPE html>
<html lang='en'>
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AvoSite</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Lobster&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="static/style.css">
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Step 1 - Include the fusioncharts core library -->
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <!-- Step 2 - Include the fusion theme -->
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
 <!-- Brandon's Scripts -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

 <!-- Our CSS -->
 <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <style>
    body {
      background-color: #9dd93f;
    }
   </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron nopadding">
	  <div class="jumbobox rounded">
		  <h1>Just Another Pit-iful</h1>
		  <h1>Avocado Website</h1>
	  </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="panel rounded">Brandon's Graph Title Here</div>
        <div id="CompositeDict" value='{{ CompositeDict }}'></div>
        <div id="map" style="height: 80vh;">
<!--
			**yourgraphhere***
-->
	    </div>
	  </div>
	  <div class="col-sm-12 col-md-4">
		<div class='panel rounded'>Brandon's Analysis</div>
		<div class="box rounded">
      <p1>The visualization to the left maps countries that reported commercial production of avocados to the United Nations in 2017.<br> 
        Addtionally, countries that also reported growing the follow: Tomatoes, Garlic, Onion, Cilantro, & Limes are noted in green.<br>
        Note that this visualization is not limited to the production of Hass Avocados, but include other varieties of avocados. 
       </p1>
		</div> 
	  </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
		<div class='panel rounded'>Huy's Analysis</div>
		<div class="box rounded">
		  <p2>summary blah blah blah summarizing things.
		        more summarization here. blah blah blah.</p2>
		</div> 
	  </div>
      <div class="col-sm-12 col-md-8">
		<div class="panel rounded">Huy's Graph Title Here</div>
        <div id="huyPlot">
<!--
			**yourgraphhere***
-->
	    </div>
	  </div>
    </div>
  <div class="row">
	<div class="col-sm-12 col-md-8">
	  <div class="panel rounded">Ky's Graph Title Here</div>
	  <div id="kyPlot">
<!--
			**yourgraphhere***
-->
	  </div>
	</div>
	<div class="col-sm-12 col-md-4">
	  <div class="panel rounded">Ky's Analysis</div>
	  <div class="box rounded">
		  <p3>summary blah blah blah summarizing things.
		        more summarization here. blah blah blah.</p3>
	  </div> 
	</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="panel rounded">Amy's Analysis</div>
      <div class="box rounded">
        <p4> summary summary avocadoes make guacamole.
                guac is good. especially with fire roasted 
                corn and peppers.</p4>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="panel rounded">Amy's Graph Title Here</div>
      	  <div id="amyPlot">
<!--
			**yourgraphhere***
-->
	  </div>
    </div>
    </div>
  </div>
<!-- #Brandon's Divs -->
<img src="https://avatars3.githubusercontent.com/u/8835908?s=88&v=4">
<!-- d3 JavaScript -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- API key -->

<script type="text/javascript" src="static/js/config.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
<script src="{{ url_for('static', filename='js/logic.js') }}"></script>
</body>
</html>