<!DOCTYPE html>
<html lang='en'>
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AvoSite</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

 <!-- Brandon's Scripts -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

 <!-- Our CSS -->
 <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <style>
    body {
      background-color: #88d6e9;
    }
   </style>
</head>

<body>
  <div class="container">
	  <div class="jumbobox rounded">
		  <h7>Avocado Website</h7>
	  </div>
    </div>
    <div class="row">
      <div>
        <div class="panel rounded">Local Guacamole</div>
        <!-- Blank Divs to Through Which JS can pull python data from  -->
        <div id="CompositeDict" value='{{ CompositeDict }}'></div>
        <div id="AvoURL" value='{{ AvoURl }}'></div>
        <!--**graphhere***-->
        <div id="map" style="height: 80vh;">
        <!--**graphhere***-->
	    </div>
	  </div>
	  <div>
		<div class='panel rounded'>Map Description</div>
		<div class="box rounded">
      <p1>The visualization above maps countries that reported commercial production of avocados to the United Nations in 2017.<br> 
        Addtionally, countries that also reported growing the follow: Tomatoes, Garlic, Onion, Cilantro, & Limes are noted in green.<br>
        Note that this visualization is not limited to the production of Hass Avocados, but include other varieties of avocados. 
       </p1>
		</div> 
	  </div>
    </div>
<script src="{{ url_for('static', filename='js/logic.js') }}"></script>
</body>
</html>